[flake8]
ignore = F401, W503
max-line-length = 88
docstring-convention = google
exclude=
    # Byte-compiled / optimized / DLL files
    __pycache__/,
    *.pyc,
    *.pyo,
    *.pyd,
    # Environments
    .env
    .venv
    env/
    venv/
    ENV/
